# ========================= MongoDB Configuration =========================
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_PORT=27007

# ========================= PostgreSQL Configuration =========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_DB=minirag
POSTGRES_PORT=5432