APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES=["text/plain","application/pdf","image/png","image/jpeg","image/bmp"]
FILE_MAX_SIZE_MB=10
FILE_DEFAULT_CHUNK_SIZE =512000 # 512KB

#MONGODB_URL="mongodb://admin:admin@localhost:27007"
#MONGODB_DATABASE="mini-rag"

POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="0000"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="minirag"

SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_SERVER_USERNAME=
SQL_SERVER_PASSWORD=
SQL_SERVER_DATABASE=IntelliCampusDb
SQL_SERVER_DRIVER=ODBC Driver 18 for SQL Server

# ========================= LLM Config =========================
# Generation backends: OPENAI, COHERE, GROQ
# Embedding backends: OPENAI, COHERE, HUGGINGFACE
GENERATION_BACKEND = "GROQ"
EMBEDDING_BACKEND = "HUGGINGFACE"

OPENAI_API_KEY="lk"
OPENAI_API_URL="https://nursery-magnesium-outshine.ngrok-free.dev/v1/"
COHERE_API_KEY=""
GROQ_API_KEY=""
HUGGINGFACE_API_KEY="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"

GENERATION_MODEL_ID="qwen2.5:14b" #local
GROQ_MODEL_ID="llama-3.3-70b-versatile"
EMBEDDING_MODEL_ID="sentence-transformers/all-MiniLM-L6-v2"
EMBEDDING_MODEL_SIZE=384

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1

# ========================= Vector DB Config =========================
VECTOR_DB_BACKEND_LITERAL = ["QDRANT", "PGVECTOR"]
VECTOR_DB_BACKEND="PGVECTOR"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"
VECTOR_DB_PGVEC_INDEX_THRESHOLD = 50
# ========================= Template Configs =========================
PRIMARY_LANG = "en"
DEFAULT_LANG = "en"